{% extends "base.html" %}
{% block content %}
{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}
{{ macros.m_hr() }}

<form id='setting'>
  {{ macros.setting_checkbox('subtitle_use_smi_to_srt', 'smi to srt', value=arg['subtitle_use_smi_to_srt'], desc=['설정 : smi 파일은 .ko.srt 변환 생성. 한글 포함 단순 .srt 파일은 .ko.srt 로 복사 생성']) }}
  {{ macros.setting_checkbox('subtitle_use_vfs_refresh', 'Rclone VFS Refresh', value=arg['subtitle_use_vfs_refresh'], desc=['설정 : Plex 메타 새로고침 전 해당 자막 폴더에 대해 Rclone vfs/refresh를 먼저 호출 (스캔 설정의 VFS 경로 변경 규칙 사용)']) }}
</form>

<script type="text/javascript">

$(document).ready(function(){
});

</script>    
{% endblock %}
